Makefile.in
aclocal.m4
autom4te.cache
configure
scripts
_build
_install
Makefile
config.log
config.status
configure
scripts/
_build/
_install/
.*.sw[op]
rc.m4
config
ctwm/getstyles
ctwm/start
fvwm/start
jwm/getstyles
jwm/start
twm/getstyles
twm/start
vtwm/getstyles
vtwm/start
configure.ac
ChangeLog
.deps/
autoconf.h
*.in
*~
xde-theme
*.o
stamp-h*
*.man
xde-style
cscope.*
core
.nfs*
.libs/
*.log
configure.scan
libtool
*.la
*.lo
m4/
AUTHORS
NEWS
COPYING
INSTALL
THANKS
TODO
README
