Makefile.in
aclocal.m4
autom4te.cache
configure
scripts
_build
_install
Makefile
config.log
config.status
configure
scripts/
_build/
_install/
.*.sw[op]
rc.m4
config
ctwm/getstyles
ctwm/start
fvwm/start
jwm/getstyles
jwm/start
twm/getstyles
twm/start
vtwm/getstyles
vtwm/start
