*~
aclocal.m4
AUTHORS
autoconf.h
autoconf.h.in
autom4te.cache
_build
_build/
ChangeLog
config
config.log
config.status
configure
configure
configure.ac
configure.scan
COPYING
core
cscope.*
ctwm/getstyles
ctwm/start
.deps/
fvwm/start
INSTALL
_install
_install/
jwm/getstyles
jwm/start
*.la
.libs/
libtool
*.lo
*.log
m4/
Makefile
Makefile.in
*.man
NEWS
.nfs*
*.o
rc.m4
README
scripts
scripts/
stamp-h*
.*.sw[op]
THANKS
TODO
twm/getstyles
twm/start
vtwm/getstyles
vtwm/start
xde-identify
xde.pc
xde-setbg
xde-setwm
xde-style
xde-theme
xde-theme-*.tar.xz
xde-watch
